<div class="about-container">
    <div class="project-description">
      <h2>Project Description</h2>
      <p>
        This Cab Management System is designed to simplify the process of booking cabs for users. 
        It allows users to easily request rides and manage their bookings 
        through a user-friendly interface. The system is optimized for performance and reliability, 
        ensuring that users have a seamless experience.
      </p>
    </div>
  
    <div class="team-members">
      <h2>Team Member</h2>
      <ul>
        <li>Aysha Fathima</li>
        <li>Sanjana Ananthu </li>
        <li>Simoni Jain </li>
        <li>Suharsha Kuchipudi</li>
        <li> Sundeep S</li>
      </ul>
    </div>
  
    <div class="technologies-used">
      <h2>Technologies Used</h2>
      <p>
        This project was developed using the following technologies:
      </p>
      <ul>
        <li>Angular</li>
        <li>MySql</li>
        <li>.NET(Rest API)</li>
      </ul>
    </div>
  </div>