<h1> S<sup>5</sup> A Cabs</h1>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <a routerLink="/home" class="tab-link">Home</a>
    </ng-template>
    
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <a routerLink="/contact" class="tab-link">Contact</a>
    </ng-template>
    
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <a routerLink="/aboutus" class="tab-link">About Us</a>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <a routerLink="/login" class="tab-link">Login</a>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <a routerLink="/register" class="tab-link">Register</a>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>